
/* ======= to 576px ======= */

/* ======= ourValues ======= */

@media all and ( min-width: 576px ) {

  .ourValues__inner {
    flex-direction: row;
    justify-content: space-around;
    flex-wrap: wrap;
  }

  .ourValues__textBox {
    width: 40%;
  }
}

/* ======= to 1199px ======= */

@media all and ( min-width: 1199px ) {

  .ourValues__text {
    padding: 20px 0 0;
  }

  .ourValues__textBox {
    padding: 0 0 45px 70px;
  }

  .headingInner_decore:after {
    width: 62px;
    height: 62px;
    left: -90px;
  }

}