/* ======= to 576px ======= */

/* ======= ourTechnologies ======= */

@media all and ( min-width: 576px ) {

  .androidApp {
    text-align: center;
  }

  .androidApp__item {
    display: inline-block;
    margin-right: 20px;
  }

  .certificate__list {
    grid-template-columns: repeat( 3, minmax(140px, 140px));
    grid-template-rows: repeat( 3, minmax(140px, 140px) );
    text-align: center;
  }

  .certificate__item {
    width: 140px;
    height: 140px;
  }

  .certificate__box {
    width: 140px;
    height: 140px;
  }

}

/* ======= to 1200px ======= */

@media all and ( min-width: 1200px ) {

  .ourTechnologies__inner {
    display: flex;
  }

  .androidApp {
    width: 270px;
    text-align: left;
    font-size: 22px;
    line-height: 1.3em;
    padding-right: 10px;
    box-sizing: border-box;
  }

  .androidApp__list {
    border: none;
  }

  .androidApp__item {
    display: block;
    padding-bottom: 25px;
    margin-right: 0;
  }

  .certificate {
    box-sizing: border-box;
    width: 920px;
    padding: 0px 40px 60px;
    margin: 0 0 60px;
    border-top: 0;
    border-left: 2px solid #636363;
  }

  .certificate__list {
    grid-template-columns:repeat( 4, minmax(192px, 192px));
    grid-template-rows: repeat( 2, minmax(240px, 240px) );
    grid-row-gap: 40px;
    grid-column-gap: 10px;
  }
  
  .certificate__item {
    width: 192px;
    height: 240px;
  }

  .certificate__box {
    overflow: hidden;
    display: block;
    box-sizing: border-box;
    width: 192px;
    height: 192px;
    padding: 23px;
  }

  .androidApp__link {
    font-size: 22px;
    line-height: 1.3em;
  }

  .certificate__link {
    font-size: 22px;
  }

  .certificate__link:hover {
    text-decoration: underline;
  }

}